#title-container {
  padding-top: 10rem;
  padding-bottom: 4rem;
  text-align: center;
  font-family: 'Reggae One';
}

#title-container > h1 {
  font-family: 'Reggae One';
  font-style: italic;
}
#title-container > h4 {
  font-family: 'Reggae One';
  color: rgb(206, 205, 205);
}

@media only screen and (max-width: 800px) {
  #title-container > h1 {
    font-size: 3.5rem;
  }
  #title-container > h4 {
    font-size: 1.5rem;
  }
  #title-container {
    padding-top: 4rem;
  }
}
